@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,300i,400,500,600,700,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Paytone+One&display=swap");

@import url("./reset.scss");

* {
  box-sizing: border-box;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.main {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.8;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}
