.package-wrapper {
  // background-color:green;
  width: 32%;
  border: 1px solid rgb(216, 216, 216);
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  border-radius: 5px;

  // background-color:#990033;
  color: #3e3c3d;
  transition: background-color,transform 0.3s ease-in-out;
}

.package-wrapper:hover {
  background-color: #3e3c3d;
  color: white;
  transform: scale(1.03);
}

.package-wrapper img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 200px;
  margin-bottom: 0px;
  display: block;
}

.front-matter {
  padding: 1rem 0.5rem;
}

.package-wrapper h2 {
  font-family: "Paytone One", sans-serif;
  font-size: 1.5rem;
}

// @media only screen and (max-width:480px){
//     .package-wrapper{
//         width: 100%;
//     }
// }
@media only screen and (max-width: 599px) {
  .package-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
  .package-wrapper {
    width: 49%;
  }
}

@media only screen and (min-width: 961px) {
  .package-wrapper {
    width: 32%;
  }
}
